In [46]:
import pandas as pd
import datetime
!pip install datetime_truncate
from datetime_truncate import truncate
import numpy as np
import math

Requirement already satisfied: datetime_truncate in c:\users\mateg\anaconda3\lib\site-packages (1.1.0)
Requirement already satisfied: typing in c:\users\mateg\anaconda3\lib\site-packages (from datetime_truncate) (3.7.4.1)
Requirement already satisfied: six in c:\users\mateg\anaconda3\lib\site-packages (from datetime_truncate) (1.12.0)

In [47]:
data = pd.read_csv("../data/Suicide_withDBPedia_Values_fr.csv", sep=",", encoding='utf-8-sig')
data.head()

,Name,Link,Content,abstract,birthdate,birthplace_clean,birthplace,deathdate,deathplace_clean,deathplace,gender,birthCountry,birthcountry
0,Adolfo_Couve,https://fr.wikipedia.org/wiki/Adolfo_Couve,"['id=""Biographie"">Biographie[modifier', '|', '...","Adolfo Couve Rioseco (Valparaíso, 28 de marzo ...",1940-3-28,Valparaíso,http://dbpedia.org/resource/Valparaíso,1998-3-11,"Cartagena,_Chile","http://dbpedia.org/resource/Cartagena,_Chile",male,Chile,Chile
1,Ralph_Barton,https://fr.wikipedia.org/wiki/Ralph_Barton,"['id=""Biographie"">Biographie[modifier', '|', '...",Ralph Waldo Emerson Barton (14 août 1891 – 19 ...,1891-8-14,"Kansas_City,_Missouri","http://dbpedia.org/resource/Kansas_City,_Missouri",1931-5-19,"New_York_City,_New_York","http://dbpedia.org/resource/New_York_City,_New...",male,United_States,United_States
2,Jack_Goldstein,https://fr.wikipedia.org/wiki/Jack_Goldstein,[],Jack Goldstein (* 27. September 1945 in Montre...,1945-9-27,Montreal,http://dbpedia.org/resource/Montreal,2003-3-14,"San_Bernardino,_California","http://dbpedia.org/resource/San_Bernardino,_Ca...",male,Canada,Canada
3,Paul_Markwitz,https://fr.wikipedia.org/wiki/Paul_Markwitz,"['id=""Biographie"">Biographie[modifier', '|', '...",Paul E. Markwitz (* 16. Juli 1908 in Berlin; †...,1908-7-16,Berlin,http://dbpedia.org/resource/Berlin,1968-03-19,Berlin,http://dbpedia.org/resource/Berlin,male,Germany,Germany
4,Virginia_Woolf,https://fr.wikipedia.org/wiki/Virginia_Woolf,"['id=""Biographie"">Biographie[modifier', '|', '...",Adeline Virginia Woolf (née Stephen; 25 Januar...,1882-01-25,Kensington,http://dbpedia.org/resource/Kensington,1941-03-28,Lewes,http://dbpedia.org/resource/Lewes,female,United_Kingdom,United_Kingdom

## List all values in birthCountry to know which ones need to be changed

In [48]:
birthCountry = data["birthCountry"]
birthCountry.unique()

array(['Chile', 'United_States', 'Canada', 'Germany', 'United_Kingdom',
       'Tunisia', nan, 'United_States_of_America', 'Mexico', 'Russia',
       'France', 'Bosnia_and_Herzegovina', 'Spain', 'Austria', 'England',
       'Switzerland', 'Japan', 'Belarus', 'Hungary', 'Italy', 'Denmark',
       'Netherlands', 'Belgium', 'Poland', 'India', 'South_Korea',
       'China', 'Sweden', 'Israel', 'Venezuela', 'Myanmar', 'Australia',
       'Serbia', 'Czech_Republic', 'Ukraine', 'Brazil', 'Kent',
       'Bulgaria', 'South_Africa', 'Iran', 'Peru', 'Romania', 'Portugal',
       'Essex', 'Argentina', 'Slovakia', 'Scotland', 'Macedonia',
       'Norway', 'Latvia', 'Cuba', 'Kosovo', 'Lithuania', 'Palau',
       'Estonia', 'Georgia_(country)', 'Egypt', 'Ethiopia', 'Turkey',
       'Republic_of_Ireland', 'Kazakhstan', 'Ulster', 'Northern_Ireland',
       'Moldova', 'Uruguay', 'Lebanon', 'Colombia', 'Suffolk', 'Taiwan'],
      dtype=object)

## Replacing values

In [49]:
for i in range(len(data)):
    if (birthCountry[i]=="United_States_of_America" or birthCountry[i] == "Essex" or birthCountry[i] == "Ulster" or birthCountry[i] == "Suffolk" or birthCountry[i] == "United_States"):
        birthCountry[i] = "USA"
    elif(birthCountry[i] == "Kent" or birthCountry[i] == "United_Kingdom"):
        birthCountry[i] = "UK"
    elif(birthCountry[i] == "Georgia_(country)"):
        birthCountry[i] = "Georgia"
    elif(birthCountry[i] == "Republic_of_Ireland" or birthCountry[i] == "Northern_Ireland"):
        birthCountry[i] = "Ireland"

In [50]:
data["birthCountry"] = birthCountry

## Deleting the ones for who the deathdate is incorrect

For those ones, it is because they were dead before the 17th century.

In [51]:
data = data[data["Name"] != "Xiang_Yu"]
data = data[data["Name"] != "Quintillus"]
data = data[data["Name"] != "Wei_Zhongxian"]
data = data[data["Name"] != "Francesco_Borromini"]
data = data[data["Name"] != "Qin_Er_Shi"]
data = data[data["Name"] != "Bartolomeo_Schedoni"]
data = data[data["Name"] != "Uriel_da_Costa"]
data = data[data["Name"] != "Joseph_Newton_Chandler_III"]
data = data[data["Name"] != "Qu_Yuan"]
data = data[data["Name"] != "Chimalpopoca"]
data = data[data["Name"] != "François_Vatel"]
data = data[data["Name"] != "Hōjō_Ujimasa"]
data = data[data["Name"] != "Oda_Nobunaga"]
data = data[data["Name"] != "Oda_Nobutada"]
data = data[data["Name"] != "Ōuchi_Yoshitaka"]
data = data[data["Name"] != "Sen_no_Rikyū"]
data = data[data["Name"] != "Shibata_Katsuie"]

In [52]:

dateDeathTimestamp = []
for i in range(len(data)):
    dateDeathTimestamp.append(pd.Timestamp(data["deathdate"].values[i])) #convert into timestamp
    dateDeathTimestamp[i] = truncate(dateDeathTimestamp[i], 'year') # trunc to years

In [53]:
deathDateCountry = pd.DataFrame()
deathDateCountry["deathdate"] = dateDeathTimestamp
Ones = np.ones(len(deathDateCountry))
deathDateCountry["Country"] = data["birthCountry"]
deathDateCountry["Ones"] = Ones
deathDateCountry = deathDateCountry.dropna()
deathDateCountry.head()

   deathdate  Country  Ones
0 1998-01-01    Chile   1.0
1 1931-01-01      USA   1.0
2 2003-01-01   Canada   1.0
3 1968-01-01  Germany   1.0
4 1941-01-01       UK   1.0

In [54]:
grouped_deathDateCountry = deathDateCountry.groupby(["Country", "deathdate"]).sum().reset_index()

In [55]:
grouped_deathDateCountry.head()

     Country  deathdate  Ones
0  Argentina 1931-01-01   1.0
1  Argentina 1933-01-01   1.0
2  Argentina 1938-01-01   1.0
3  Argentina 1973-01-01   1.0
4  Argentina 1975-01-01   1.0

In [56]:
nb = [0]*len(grouped_deathDateCountry)
current_nb = 1
for i in range(len(grouped_deathDateCountry)):
    if (i > 0):
        if(grouped_deathDateCountry["Country"].values[i] == grouped_deathDateCountry["Country"].values[i-1]):
            current_nb += grouped_deathDateCountry["Ones"].values[i]
            nb[i] = current_nb
        else:
            current_nb = grouped_deathDateCountry["Ones"].values[i]

In [57]:
grouped_deathDateCountry["Count"] = nb
grouped_deathDateCountry.head()

     Country  deathdate  Ones  Count
0  Argentina 1931-01-01   1.0    0.0
1  Argentina 1933-01-01   1.0    2.0
2  Argentina 1938-01-01   1.0    3.0
3  Argentina 1973-01-01   1.0    4.0
4  Argentina 1975-01-01   1.0    5.0

In [58]:
data_pivot = grouped_deathDateCountry.pivot_table("Count", "Country", "deathdate")
data_pivot = data_pivot.fillna(0)
data_pivot.head()

deathdate,1692-01-01 00:00:00,1701-01-01 00:00:00,1707-01-01 00:00:00,1735-01-01 00:00:00,1737-01-01 00:00:00,1774-01-01 00:00:00,1791-01-01 00:00:00,1794-01-01 00:00:00,1795-01-01 00:00:00,1797-01-01 00:00:00,...,2009-01-01 00:00:00,2010-01-01 00:00:00,2011-01-01 00:00:00,2012-01-01 00:00:00,2013-01-01 00:00:00,2014-01-01 00:00:00,2015-01-01 00:00:00,2016-01-01 00:00:00,2038-01-01 00:00:00,2066-01-01 00:00:00
Country,,,,,,,,,,,,,,,,,,,,,
Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Australia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0
Austria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,27.0,28.0,0.0,0.0,0.0,29.0,0.0,0.0,0.0
Belarus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Belgium,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,7.0,0.0,0.0,8.0,0.0,0.0

In [59]:
data_pivot = data_pivot.iloc[:, 100:-2]
data_pivot = data_pivot.cumsum(axis=1)
total = data_pivot.sum(axis=0).T
data_pivot = (data_pivot / total)*100
data_pivot = data_pivot.reset_index()
data_pivot

deathdate,Country,1948-01-01 00:00:00,1949-01-01 00:00:00,1950-01-01 00:00:00,1951-01-01 00:00:00,1952-01-01 00:00:00,1953-01-01 00:00:00,1954-01-01 00:00:00,1955-01-01 00:00:00,1958-01-01 00:00:00,...,2007-01-01 00:00:00,2008-01-01 00:00:00,2009-01-01 00:00:00,2010-01-01 00:00:00,2011-01-01 00:00:00,2012-01-01 00:00:00,2013-01-01 00:00:00,2014-01-01 00:00:00,2015-01-01 00:00:00,2016-01-01 00:00:00
0,Argentina,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.086806,0.083947,0.080972,0.078699,0.077180,0.075522,0.072880,0.071759,0.070137,0.069151
1,Australia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.106096,0.102602,0.098965,0.096187,0.094332,0.092305,0.137663,0.135545,0.132481,0.130619
2,Austria,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.849568,...,2.372685,2.294562,2.213225,2.387198,2.581254,2.525803,2.437444,2.399936,2.571696,2.535536
3,Belarus,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.019290,0.018655,0.017994,0.017489,0.017151,0.016783,0.016196,0.015946,0.015586,0.015367
4,Belgium,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.086806,0.083947,0.125956,0.122420,0.120058,0.117479,0.170054,0.167437,0.163653,0.222820
5,Bosnia_and_Herzegovina,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.048225,0.046637,0.044984,0.078699,0.077180,0.075522,0.072880,0.071759,0.070137,0.069151
6,Brazil,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.173611,0.167895,0.161943,0.157398,0.154361,0.151045,0.145761,0.143518,0.140274,0.138302
7,Bulgaria,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.028935,0.027982,0.026991,0.026233,0.025727,0.025174,0.024293,0.023920,0.023379,0.023050
8,Canada,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.051312,1.016696,1.133603,1.101784,1.080525,1.057313,1.020326,1.004624,0.981920,0.968114
9,Chile,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.067515,0.065292,0.107962,0.104932,0.102907,0.100696,0.097174,0.095679,0.093516,0.092201
10,China,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.019290,0.018655,0.017994,0.017489,0.017151,0.016783,0.016196,0.015946,0.015586,0.015367
11,Colombia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,Cuba,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.086806,0.083947,0.080972,0.078699,0.077180,0.075522,0.072880,0.071759,0.070137,0.069151
13,Czech_Republic,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.958904,0.863132,...,0.337577,0.326462,0.314890,0.306051,0.411629,0.402786,0.388695,0.382714,0.374065,0.368805
14,Denmark,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,Egypt,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,England,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.135031,0.130585,0.125956,0.122420,0.120058,0.117479,0.113370,0.111625,0.109102,0.107568
17,Estonia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.019290,0.018655,0.017994,0.017489,0.042878,0.041957,0.040489,0.039866,0.038965,0.038417
18,Ethiopia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,France,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.242086,15.205479,13.686806,...,28.694059,28.765973,28.744939,27.938090,28.368064,27.758664,27.710746,27.284325,27.563903,27.176335
20,Georgia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.017489,0.017151,0.016783,0.016196,0.015946,0.015586,0.015367
21,Germany,52.307692,31.336406,47.902098,38.920455,38.483146,33.578431,25.512104,28.356164,25.524044,...,16.261574,16.602929,16.014395,16.395593,16.079238,15.733826,15.968904,15.723170,16.131546,15.904725
22,Hungary,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.086806,0.083947,0.080972,0.078699,0.077180,0.125871,0.121467,0.119598,0.116895,0.115252
23,India,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.015367
24,Iran,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.048225,0.046637,0.044984,0.043722,0.042878,0.041957,0.040489,0.039866,0.038965,0.038417
25,Ireland,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.135031,0.130585,0.125956,0.122420,0.120058,0.117479,0.113370,0.111625,0.109102,0.107568
26,Israel,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
27,Italy,0.000000,5.069124,3.846154,3.125000,3.089888,2.696078,4.283054,3.150685,2.836005,...,1.909722,1.846843,1.781377,1.731375,1.697968,1.862885,2.000162,1.969383,1.924875,1.897810
28,Japan,11.538462,6.912442,5.244755,8.806818,8.707865,7.598039,5.772812,4.246575,3.822441,...,1.215278,1.175264,1.331534,1.294159,1.466427,1.636318,1.781521,1.961410,1.917082,1.890127
29,Kazakhstan,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,Lebanon,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
33,Lithuania,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
34,Macedonia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35,Mexico,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.558659,0.410959,0.369914,...,0.115741,0.111930,0.107962,0.104932,0.102907,0.100696,0.097174,0.095679,0.093516,0.092201
36,Moldova,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
37,Myanmar,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
38,Netherlands,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.863132,...,0.067515,0.065292,0.062978,0.061210,0.060029,0.058740,0.056685,0.119598,0.116895,0.115252
39,Norway,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
40,Palau,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
41,Peru,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
42,Poland,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.819830,0.792836,0.953666,0.926898,1.097676,1.074096,1.036521,1.020571,0.997506,0.983481
43,Portugal,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.034302,0.033565,0.032391,0.031893,0.031172,0.030734
44,Romania,0.000000,0.000000,0.000000,0.000000,1.123596,0.980392,0.744879,0.547945,0.493218,...,0.038580,0.037310,0.035987,0.034977,0.034302,0.075522,0.072880,0.071759,0.070137,0.069151
45,Russia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.372439,0.684932,0.616523,...,0.337577,0.326462,0.314890,0.306051,0.300146,0.293698,0.283424,0.279062,0.272756,0.268920
46,Scotland,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.019290,0.018655,0.017994,0.017489,0.017151,0.016783,0.016196,0.015946,0.015586,0.015367
47,Serbia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.019290,0.018655,0.017994,0.017489,0.042878,0.041957,0.040489,0.039866,0.038965,0.038417
48,Slovakia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.057870,0.055965,0.053981,0.052466,0.051454,0.050348,0.048587,0.047839,0.046758,0.046101
49,South_Africa,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.086806,0.083947,0.080972,0.078699,0.077180,0.075522,0.072880,0.071759,0.070137,0.069151
50,South_Korea,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.018655,0.017994,0.017489,0.042878,0.041957,0.040489,0.039866,0.038965,0.038417
51,Spain,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.376157,0.363772,0.350877,0.341028,0.334448,0.327264,0.315815,0.310955,0.303928,0.299654
52,Sweden,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.372439,0.273973,0.246609,...,0.626929,0.606287,0.692758,0.673312,0.660321,0.646136,0.623532,0.613937,0.600062,0.691510
53,Switzerland,0.000000,2.304147,1.748252,1.420455,1.404494,1.225490,0.931099,0.684932,0.616523,...,0.540123,0.522339,0.611786,0.594614,0.694623,0.679701,0.655924,0.645830,0.631234,0.622359
54,Taiwan,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
55,Tunisia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
56,Turkey,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.019290,0.018655,0.017994,0.017489,0.017151,0.016783,0.016196,0.015946,0.015586,0.015367
57,UK,0.000000,10.138249,7.692308,6.250000,6.179775,5.392157,4.096834,3.013699,2.712700,...,4.050926,3.917545,4.120558,4.345925,4.262070,4.506168,4.348530,4.281614,4.504364,4.441030
58,USA,36.153846,44.239631,33.566434,41.477273,41.011236,48.529412,47.113594,42.465753,45.499383,...,39.699074,39.772409,39.721098,39.952781,39.181888,39.657632,39.549761,40.208898,39.300187,39.976950
59,Ukraine,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.135031,0.130585,0.125956,0.122420,0.120058,0.117479,0.113370,0.111625,0.163653,0.161352
60,Uruguay,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
61,Venezuela,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [60]:
data_pivot.to_csv('../data/Dataframe_for_racing_plot.csv', sep=',', encoding='utf-8-sig', index=False)